@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

:root {
	--font-mono: 'Maple Mono', 'LXGW WenKai Screen', monospace;
	--font-sans: 'LXGW WenKai Screen', sans-serif;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
	--background: oklch(0.129 0.042 264.695);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.208 0.042 265.755);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

a-at {
	color: var(--arb-at-dark);
	font-weight: var(--arb-at-dark-weight, normal);
	font-style: var(--arb-at-dark-style, normal);
	text-decoration: var(--arb-at-dark-decoration, none);
}
a-co {
	color: var(--arb-co-dark);
	font-weight: var(--arb-co-dark-weight, normal);
	font-style: var(--arb-co-dark-style, normal);
	text-decoration: var(--arb-co-dark-decoration, none);
}
a-cr {
	color: var(--arb-cr-dark);
	font-weight: var(--arb-cr-dark-weight, normal);
	font-style: var(--arb-cr-dark-style, normal);
	text-decoration: var(--arb-cr-dark-decoration, none);
}
a-fb {
	color: var(--arb-fb-dark);
	font-weight: var(--arb-fb-dark-weight, normal);
	font-style: var(--arb-fb-dark-style, normal);
	text-decoration: var(--arb-fb-dark-decoration, none);
}
a-f {
	color: var(--arb-f-dark);
	font-weight: var(--arb-f-dark-weight, normal);
	font-style: var(--arb-f-dark-style, normal);
	text-decoration: var(--arb-f-dark-decoration, none);
}
a-k {
	color: var(--arb-k-dark);
	font-weight: var(--arb-k-dark-weight, normal);
	font-style: var(--arb-k-dark-style, normal);
	text-decoration: var(--arb-k-dark-decoration, none);
}
a-o {
	color: var(--arb-o-dark);
	font-weight: var(--arb-o-dark-weight, normal);
	font-style: var(--arb-o-dark-style, normal);
	text-decoration: var(--arb-o-dark-decoration, none);
}
a-pr {
	color: var(--arb-pr-dark);
	font-weight: var(--arb-pr-dark-weight, normal);
	font-style: var(--arb-pr-dark-style, normal);
	text-decoration: var(--arb-pr-dark-decoration, none);
}
a-p {
	color: var(--arb-p-dark);
	font-weight: var(--arb-p-dark-weight, normal);
	font-style: var(--arb-p-dark-style, normal);
	text-decoration: var(--arb-p-dark-decoration, none);
}
a-s {
	color: var(--arb-s-dark);
	font-weight: var(--arb-s-dark-weight, normal);
	font-style: var(--arb-s-dark-style, normal);
	text-decoration: var(--arb-s-dark-decoration, none);
}
a-tg {
	color: var(--arb-tg-dark);
	font-weight: var(--arb-tg-dark-weight, normal);
	font-style: var(--arb-tg-dark-style, normal);
	text-decoration: var(--arb-tg-dark-decoration, none);
}
a-err {
	color: var(--arb-err-dark);
	font-weight: var(--arb-err-dark-weight, normal);
	font-style: var(--arb-err-dark-style, normal);
	text-decoration: var(--arb-err-dark-decoration, none);
}
a-t {
	color: var(--arb-t-dark);
	font-weight: var(--arb-t-dark-weight, normal);
	font-style: var(--arb-t-dark-style, normal);
	text-decoration: var(--arb-t-dark-decoration, none);
}
a-v {
	color: var(--arb-v-dark);
	font-weight: var(--arb-v-dark-weight, normal);
	font-style: var(--arb-v-dark-style, normal);
	text-decoration: var(--arb-v-dark-decoration, none);
}
a-c {
	color: var(--arb-c-dark);
	font-weight: var(--arb-c-dark-weight, normal);
	font-style: var(--arb-c-dark-style, normal);
	text-decoration: var(--arb-c-dark-decoration, none);
}
a-m {
	color: var(--arb-m-dark);
	font-weight: var(--arb-m-dark-weight, normal);
	font-style: var(--arb-m-dark-style, normal);
	text-decoration: var(--arb-m-dark-decoration, none);
}
a-l {
	color: var(--arb-l-dark);
	font-weight: var(--arb-l-dark-weight, normal);
	font-style: var(--arb-l-dark-style, normal);
	text-decoration: var(--arb-l-dark-decoration, none);
}
a-da {
	color: var(--arb-da-dark);
	font-weight: var(--arb-da-dark-weight, normal);
	font-style: var(--arb-da-dark-style, normal);
	text-decoration: var(--arb-da-dark-decoration, none);
}
a-dd {
	color: var(--arb-dd-dark);
	font-weight: var(--arb-dd-dark-weight, normal);
	font-style: var(--arb-dd-dark-style, normal);
	text-decoration: var(--arb-dd-dark-decoration, none);
}
a-n {
	color: var(--arb-n-dark);
	font-weight: var(--arb-n-dark-weight, normal);
	font-style: var(--arb-n-dark-style, normal);
	text-decoration: var(--arb-n-dark-decoration, none);
}
a-tl {
	color: var(--arb-tl-dark);
	font-weight: var(--arb-tl-dark-weight, normal);
	font-style: var(--arb-tl-dark-style, normal);
	text-decoration: var(--arb-tl-dark-decoration, none);
}
a-em {
	color: var(--arb-em-dark);
	font-weight: var(--arb-em-dark-weight, normal);
	font-style: var(--arb-em-dark-style, normal);
	text-decoration: var(--arb-em-dark-decoration, none);
}
a-st {
	color: var(--arb-st-dark);
	font-weight: var(--arb-st-dark-weight, normal);
	font-style: var(--arb-st-dark-style, normal);
	text-decoration: var(--arb-st-dark-decoration, none);
}
a-tu {
	color: var(--arb-tu-dark);
	font-weight: var(--arb-tu-dark-weight, normal);
	font-style: var(--arb-tu-dark-style, normal);
	text-decoration: var(--arb-tu-dark-decoration, none);
}
a-tr {
	color: var(--arb-tr-dark);
	font-weight: var(--arb-tr-dark-weight, normal);
	font-style: var(--arb-tr-dark-style, normal);
	text-decoration: var(--arb-tr-dark-decoration, none);
}
a-se {
	color: var(--arb-se-dark);
	font-weight: var(--arb-se-dark-weight, normal);
	font-style: var(--arb-se-dark-style, normal);
	text-decoration: var(--arb-se-dark-decoration, none);
}
a-tt {
	color: var(--arb-tt-dark);
	font-weight: var(--arb-tt-dark-weight, normal);
	font-style: var(--arb-tt-dark-style, normal);
	text-decoration: var(--arb-tt-dark-decoration, none);
}
a-ts {
	color: var(--arb-ts-dark);
	font-weight: var(--arb-ts-dark-weight, normal);
	font-style: var(--arb-ts-dark-style, normal);
	text-decoration: var(--arb-ts-dark-decoration, none);
}
a-eb {
	color: var(--arb-eb-dark);
	font-weight: var(--arb-eb-dark-weight, normal);
	font-style: var(--arb-eb-dark-style, normal);
	text-decoration: var(--arb-eb-dark-decoration, none);
}
a-ns {
	color: var(--arb-ns-dark);
	font-weight: var(--arb-ns-dark-weight, normal);
	font-style: var(--arb-ns-dark-style, normal);
	text-decoration: var(--arb-ns-dark-decoration, none);
}
a-pp {
	color: var(--arb-pp-dark);
	font-weight: var(--arb-pp-dark-weight, normal);
	font-style: var(--arb-pp-dark-style, normal);
	text-decoration: var(--arb-pp-dark-decoration, none);
}
a-ch {
	color: var(--arb-ch-dark);
	font-weight: var(--arb-ch-dark-weight, normal);
	font-style: var(--arb-ch-dark-style, normal);
	text-decoration: var(--arb-ch-dark-decoration, none);
}
a-sr {
	color: var(--arb-sr-dark);
	font-weight: var(--arb-sr-dark-weight, normal);
	font-style: var(--arb-sr-dark-style, normal);
	text-decoration: var(--arb-sr-dark-decoration, none);
}
a-bo {
	color: var(--arb-bo-dark);
	font-weight: var(--arb-bo-dark-weight, normal);
	font-style: var(--arb-bo-dark-style, normal);
	text-decoration: var(--arb-bo-dark-decoration, none);
}

:root {
	--arb-co-dark: #d2a6ff;
	--arb-co-dark: #d2a6ff;
	--arb-fb-dark: #ffb454;
	--arb-f-dark: #ffb454;
	--arb-f-dark: #ffb454;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-o-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-o-dark: #f29668;
	--arb-pr-dark: #59c2ff;
	--arb-p-dark: #e6b673;
	--arb-p-dark: #e6b673;
	--arb-p-dark: #e6b673;
	--arb-s-dark: #aad94c;
	--arb-s-dark: #95e6cb;
	--arb-tg-dark: #39bae6;
	--arb-tg-dark: #39bae6;
	--arb-err-dark: #39bae6;
	--arb-t-dark: #59c2ff;
	--arb-t-dark: #59c2ff;
	--arb-t-dark: #59c2ff;
	--arb-v-dark: #bfbdb6;
	--arb-v-dark: #ff8f40;
	--arb-v-dark: #bfbdb6;
	--arb-c-dark: #626a73;
	--arb-c-dark-style: italic;
	--arb-c-dark: #626a73;
	--arb-c-dark-style: italic;
	--arb-m-dark: #ffb454;
	--arb-l-dark: #39bae6;
	--arb-da-dark: #aad94c;
	--arb-dd-dark: #d95757;
	--arb-n-dark: #d2a6ff;
	--arb-tl-dark: #bfbdb6;
	--arb-em-dark-style: italic;
	--arb-st-dark-weight: bold;
	--arb-tu-dark: #39bae6;
	--arb-tu-dark-decoration: underline;
	--arb-tr-dark: #59c2ff;
	--arb-se-dark: #95e6cb;
	--arb-tt-dark: #59c2ff;
	--arb-tt-dark-weight: bold;
	--arb-ts-dark-decoration: line-through;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-ch-dark: #95e6cb;
	--arb-pr-dark: #bfbdb6;
	--arb-f-dark: #ffb454;
	--arb-t-dark: #59c2ff;
	--arb-f-dark: #ffb454;
	--arb-k-dark: #ff8f40;
	--arb-k-dark: #ff8f40;
	--arb-sr-dark: #95e6cb;
	--arb-n-dark: #d2a6ff;
	--arb-bo-dark: #d2a6ff;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

body .medium-zoom-image--opened {
	@apply rounded-md;
}
